/*.graph {
	width: 100px;
	height: 100px;
	border: 1px solid #aeaeae;
	background-color: #eaeaea;
}
.bar {
	width: 8px;
	margin: 1px;
	display: inline-block;
	position: relative;
	background-color: #aeaeae;
	vertical-align: baseline;
}*/